.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.Sidebar-Link {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.15s;
}

.Sidebar-Link img {
  width: 25px;
  margin: 4px 0;
}

.Sidebar-Link:hover {
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}

.Sidebar-Link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
